.container {
  width: 500px;
  justify-content: center;
  margin: 0 auto;
  margin-top: 200px;
  align-items: center;
  justify-content: space-between;
}
form input {
  width: 100%;
  height: 60px;
  color: #333333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 0 24px;
}

form textarea {
  width: 100%;
  resize: vertical;
  min-height: 140px;
  height: 60px;
  color: #333333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 16px 24px;
  line-height: 24px;
}